In [1]:
import pandas as pd

train_query = pd.read_csv('./data/train/train.query.tsv',sep='\t',header=None)
train_reply = pd.read_csv('./data/train/train.reply.tsv',sep='\t',header=None)

test_query = pd.read_csv('./data/test/test.query.tsv',sep='\t',header=None)
test_reply = pd.read_csv('./data/test/test.reply.tsv',sep='\t',header=None)

In [2]:
train_query.columns=['id','q1']
train_reply.columns=['id','id_sub','q2','label']
df_train = train_query.merge(train_reply, how='left')
df_train['q2'] = df_train['q2'].fillna('好的')

test_query.columns = ['id','q1']
test_reply.columns=['id','id_sub','q2']
df_test = test_query.merge(test_reply, how='left')

In [3]:
print(train_query.shape)
print(train_reply.shape)
print(test_query.shape)
print(test_reply.shape)
print(df_train.shape)
print(df_test.shape)

(6000, 2)
(21585, 4)
(14000, 2)
(53757, 3)
(21585, 5)
(53757, 4)

In [4]:
df_train.head(10)

   id                  q1  id_sub                           q2  label
0   0            采荷一小是分校吧       0  杭州市采荷第一小学钱江苑校区，杭州市钱江新城实验学校。      1
1   0            采荷一小是分校吧       1                           是的      0
2   0            采荷一小是分校吧       2                         这是5楼      0
3   1                毛坯吗？       0                   因为公积金贷款贷的少      0
4   1                毛坯吗？       1                           是呢      0
5   1                毛坯吗？       2                  这套一楼带院的，您看看      0
6   1                毛坯吗？       3                     房本都是五年外的      0
7   1                毛坯吗？       4                    好的??，您先看下      0
8   2  你们的佣金费大约是多少和契税是多少。       0                   您是首套还是二套呢？      0
9   2  你们的佣金费大约是多少和契税是多少。       1                   所有费用下来654万      1

In [5]:
df_test.head(10)

   id            q1  id_sub            q2
0   0  东区西区？什么时候下证？       0        我在给你发套
1   0  东区西区？什么时候下证？       1     您看下我发的这几套
2   0  东区西区？什么时候下证？       2    这两套也是金源花园的
3   0  东区西区？什么时候下证？       3           价钱低
4   0  东区西区？什么时候下证？       4  便宜的房子，一般都是顶楼
5   1          小学哪个       0            您好
6   1          小学哪个       1         恩德里小学
7   1          小学哪个       2          河西一片
8   2          看哪个？       0    我加您微信发房源连接
9   2          看哪个？       1          保利百合

## 训练集标签分布

In [6]:
df_train['label'].value_counts()

0    16198
1     5387
Name: label, dtype: int64

## query-reply长度统计

In [7]:
df_train['q1'].str.len().describe()

count    21585.000000
mean         9.151123
std          5.045921
min          2.000000
25%          6.000000
50%          8.000000
75%         12.000000
max         65.000000
Name: q1, dtype: float64

In [8]:
df_train['q2'].str.len().describe()

count    21585.000000
mean        10.409961
std         10.537323
min          1.000000
25%          4.000000
50%          8.000000
75%         13.000000
max        200.000000
Name: q2, dtype: float64

In [4]:
df_train[df_train['label']==1]['q2'].str.len().describe()

count    5387.000000
mean        9.879339
std         9.456543
min         1.000000
25%         4.000000
50%         7.000000
75%        12.000000
max       192.000000
Name: q2, dtype: float64

In [9]:
df_test['q1'].str.len().describe()

count    53757.000000
mean         9.127928
std          6.069857
min          2.000000
25%          5.000000
50%          8.000000
75%         12.000000
max        231.000000
Name: q1, dtype: float64

In [10]:
df_test['q2'].str.len().describe()

count    53757.000000
mean        10.694179
std         10.698465
min          1.000000
25%          4.000000
50%          8.000000
75%         13.000000
max        229.000000
Name: q2, dtype: float64

## 是否有重复的qeury

In [7]:
train_dup_query = train_query[train_query['q1'].duplicated(keep=False)]
len(train_dup_query)

2226

In [6]:
dup_query

        id              q1
4        4  这套房源价格还有优惠空间吗？
6        6  这套房源价格还有优惠空间么？
9        9            几期的？
11      11  这套房源价格还有优惠空间吗？
14      14           看房方便吗
...    ...             ...
5986  5986          好久可以看房
5988  5988           可以看房吗
5991  5991            有房本吗
5994  5994          价格能谈多少
5996  5996          对口什么小学

[2226 rows x 2 columns]